@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Chakra Petch", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Gruppo", cursive;
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(20, 19, 19);
}

.header {
  width: 100%;
  height: 30%;
  position: fixed;
  z-index: 3;
}

.foto-perfil {
  width: 22%;
  margin-top: 9%;
  border-radius: 50%;
  margin-left: 38%;
  position: absolute;
  z-index: 2;
}

.container-metade-esquerda,
.container-metade-direita {
  padding-top: 10%;
  width: 50%;
  padding-bottom: 2%;
}
.container-metade-esquerda {
  background-color: rgb(27, 68, 77);
}

.container-metade-direita {
  background-color: rgb(30, 30, 30);
}

.subtitulo {
  font-weight: bold;
  text-align: center;
}

.sections {
  display: flex;
}

.texto-lateral-esquerda {
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 20%;
}

.texto-lateral-direita {
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 5%;
}

.cargo {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
  -webkit-animation: efeito-raio-texto 3s linear both;
  animation: efeito-raio-texto 3s linear both;
  font-size: clamp(1em, 1em + 1vw, 1em);
}

.projetos {
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}

.carousel-item {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgb(3, 3, 3);
  opacity: 50px;
}

.projeto {
  padding: 10px;
  width: 40%;
  height: 40%;
  margin: 10px;

  border-top: 1px solid rgba(81, 165, 184, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(81, 165, 184, 0.5);
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);

  transition: all 0.5s;
  cursor: pointer;
}

.projeto:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contato-tecnologias {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  background-color: rgb(27, 68, 77);
}

.hard-skill,
.meu-contato {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.icone-tec {
  width: 60px;
  padding: 8px;
}

.icone-contato {
  width: 40px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.icone-contato:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.rodape {
  width: 100%;
  height: 30px;
  padding-bottom: 40px;
  background-color: rgb(27, 68, 77);
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 1025px) {
  .container-metade-esquerda,
  .container-metade-direita {
    padding-top: 15%;
  }
  .foto-perfil {
    width: 25%;
    margin-top: 4%;
    margin-left: 35%;
    z-index: 4;
  }
}

@media (max-width: 920px) {
  .container-metade-esquerda,
  .container-metade-direita {
    padding-top: 28%;
  }
  .contato-tecnologias {
    flex-direction: column-reverse;
    padding-top: 5%;
    margin-top: 0px;
  }
  .subtitulo {
    font-size: clamp(1em, 1em + 1vw, 1.2em);
  }

  h2.cargo,
  .hard-skill,
  .meu-contato {
    font-size: clamp(1em, 1em + 1vw, 1em);
  }
  .projeto {
    width: 50%;
    height: 30%;
    margin: 10px;
  }
}

@media (max-width: 642px) {
  .sections {
    flex-direction: column-reverse;
  }
  .container-metade-esquerda,
  .container-metade-direita {
    width: 100%;
    padding-top: 20%;
  }

  .foto-perfil {
    margin-top: 2%;
    margin-left: 74%;
  }

  .container-metade-esquerda {
    padding-top: 5%;
  }

  .projetos h2.subtitulo,
  h2.cargo {
    max-width: 90%;
    text-align: center;
    padding: 0px 30px;
  }
}

@media (max-width: 415px) {
  .container-metade-direita {
    padding-top: 40%;
  }
  .foto-perfil {
    width: 30%;
    margin-left: 40%;
    margin-top: 4%;
  }

  .hard-skill,
  .meu-contato {
    padding: 5px;
    flex-wrap: wrap;
  }

  .rodape {
    font-size: 1rem;
  }
}

@media (max-width: 365px) {
  .container-metade-direita {
    padding-top: 45%;
  }
}

@media (max-width: 292px) {
  .container-metade-direita {
    padding-top: 60%;
  }

  .foto-perfil {
    width: 40%;
    margin-left: 35%;
    margin-top: 5%;
  }

  .icone-contato {
    width: 30px;
  }
}

@-webkit-keyframes efeito-raio-texto {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes efeito-raio-texto {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
